# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Local env files
.env
.env.*

# Django media/static build artifacts
media/
staticfiles/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
*.swp
